<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineExam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>server</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>db</param-name>
    <param-value>examinationsystem</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>pwd</param-name>
    <param-value>123</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LogServlet</display-name>
    <servlet-name>LogServlet</servlet-name>
    <servlet-class>OnliServlet.LogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogServlet</servlet-name>
    <url-pattern>/LogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegiServlet</display-name>
    <servlet-name>RegiServlet</servlet-name>
    <servlet-class>OnliServlet.RegiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegiServlet</servlet-name>
    <url-pattern>/RegiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>OnliServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutCurrentUser</display-name>
    <servlet-name>OutCurrentUser</servlet-name>
    <servlet-class>OnliServlet.OutCurrentUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutCurrentUser</servlet-name>
    <url-pattern>/OutCurrentUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegiServlet1</display-name>
    <servlet-name>RegiServlet1</servlet-name>
    <servlet-class>OnliServlet.RegiServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegiServlet1</servlet-name>
    <url-pattern>/RegiServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stinfoServlet</display-name>
    <servlet-name>stinfoServlet</servlet-name>
    <servlet-class>OnliServlet.stinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stinfoServlet</servlet-name>
    <url-pattern>/stinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addstServlet</display-name>
    <servlet-name>addstServlet</servlet-name>
    <servlet-class>OnliServlet.addstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addstServlet</servlet-name>
    <url-pattern>/addstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StChangeServlet</display-name>
    <servlet-name>StChangeServlet</servlet-name>
    <servlet-class>OnliServlet.StChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StChangeServlet</servlet-name>
    <url-pattern>/StChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stChan1Servlet</display-name>
    <servlet-name>stChan1Servlet</servlet-name>
    <servlet-class>OnliServlet.stChan1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stChan1Servlet</servlet-name>
    <url-pattern>/stChan1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StQueryServlet</display-name>
    <servlet-name>StQueryServlet</servlet-name>
    <servlet-class>OnliServlet.StQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StQueryServlet</servlet-name>
    <url-pattern>/StQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelstServlet1</display-name>
    <servlet-name>DelstServlet1</servlet-name>
    <servlet-class>OnliServlet.DelstServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelstServlet1</servlet-name>
    <url-pattern>/DelstServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelstServlet</display-name>
    <servlet-name>DelstServlet</servlet-name>
    <servlet-class>OnliServlet.DelstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelstServlet</servlet-name>
    <url-pattern>/DelstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addServlet</display-name>
    <servlet-name>addServlet</servlet-name>
    <servlet-class>OnliServlet.addServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addServlet</servlet-name>
    <url-pattern>/addServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoExamResultServlet</display-name>
    <servlet-name>DoExamResultServlet</servlet-name>
    <servlet-class>servlet.DoExamResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoExamResultServlet</servlet-name>
    <url-pattern>/DoExamResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowGradeServlet</display-name>
    <servlet-name>ShowGradeServlet</servlet-name>
    <servlet-class>servlet.ShowGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGradeServlet</servlet-name>
    <url-pattern>/ShowGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrowsePaperServlet</display-name>
    <servlet-name>BrowsePaperServlet</servlet-name>
    <servlet-class>servlet.BrowsePaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowsePaperServlet</servlet-name>
    <url-pattern>/BrowsePaperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BigEditPaperServletII</display-name>
    <servlet-name>BigEditPaperServletII</servlet-name>
    <servlet-class>servlet.BigEditPaperServletII</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BigEditPaperServletII</servlet-name>
    <url-pattern>/BigEditPaperServletII</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BigEditPaperServletIII</display-name>
    <servlet-name>BigEditPaperServletIII</servlet-name>
    <servlet-class>servlet.BigEditPaperServletIII</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BigEditPaperServletIII</servlet-name>
    <url-pattern>/BigEditPaperServletIII</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BigEditPaperServlet</display-name>
    <servlet-name>BigEditPaperServlet</servlet-name>
    <servlet-class>servlet.BigEditPaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BigEditPaperServlet</servlet-name>
    <url-pattern>/BigEditPaperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrowsePaperServletII</display-name>
    <servlet-name>BrowsePaperServletII</servlet-name>
    <servlet-class>servlet.BrowsePaperServletII</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowsePaperServletII</servlet-name>
    <url-pattern>/BrowsePaperServletII</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePaperServlet</display-name>
    <servlet-name>DeletePaperServlet</servlet-name>
    <servlet-class>servlet.DeletePaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePaperServlet</servlet-name>
    <url-pattern>/DeletePaperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePaperServletII</display-name>
    <servlet-name>DeletePaperServletII</servlet-name>
    <servlet-class>servlet.DeletePaperServletII</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePaperServletII</servlet-name>
    <url-pattern>/DeletePaperServletII</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPaperServlet</display-name>
    <servlet-name>EditPaperServlet</servlet-name>
    <servlet-class>servlet.EditPaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPaperServlet</servlet-name>
    <url-pattern>/EditPaperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPaperServletII</display-name>
    <servlet-name>EditPaperServletII</servlet-name>
    <servlet-class>servlet.EditPaperServletII</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPaperServletII</servlet-name>
    <url-pattern>/EditPaperServletII</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPaperServletIII</display-name>
    <servlet-name>EditPaperServletIII</servlet-name>
    <servlet-class>servlet.EditPaperServletIII</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPaperServletIII</servlet-name>
    <url-pattern>/EditPaperServletIII</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPaperServlet</display-name>
    <servlet-name>NewPaperServlet</servlet-name>
    <servlet-class>servlet.NewPaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPaperServlet</servlet-name>
    <url-pattern>/NewPaperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPaperServletII</display-name>
    <servlet-name>NewPaperServletII</servlet-name>
    <servlet-class>servlet.NewPaperServletII</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPaperServletII</servlet-name>
    <url-pattern>/NewPaperServletII</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaperSelect</display-name>
    <servlet-name>PaperSelect</servlet-name>
    <servlet-class>servlet.PaperSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaperSelect</servlet-name>
    <url-pattern>/PaperSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaperSelectII</display-name>
    <servlet-name>PaperSelectII</servlet-name>
    <servlet-class>servlet.PaperSelectII</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaperSelectII</servlet-name>
    <url-pattern>/PaperSelectII</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaperSelectIII</display-name>
    <servlet-name>PaperSelectIII</servlet-name>
    <servlet-class>servlet.PaperSelectIII</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaperSelectIII</servlet-name>
    <url-pattern>/PaperSelectIII</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrowseStateServlet</display-name>
    <servlet-name>BrowseStateServlet</servlet-name>
    <servlet-class>OnliServlet.BrowseStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseStateServlet</servlet-name>
    <url-pattern>/BrowseStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrowseStateServlet2</display-name>
    <servlet-name>BrowseStateServlet2</servlet-name>
    <servlet-class>OnliServlet.BrowseStateServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseStateServlet2</servlet-name>
    <url-pattern>/BrowseStateServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlackListServlet</display-name>
    <servlet-name>BlackListServlet</servlet-name>
    <servlet-class>OnliServlet.BlackListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlackListServlet</servlet-name>
    <url-pattern>/BlackListServlet</url-pattern>
  </servlet-mapping>
</web-app>